<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../../../Downs/reshudz/reshudz/flask_chat/app/css/style.css">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
          <a class="navbar-brand" href="#">
            ReshuDz
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Главная</a>
              </li>
                            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Все предметы</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <form>
        <div class="container-md">
       <div class="chat">
           <div class="prewiewch">Чат</div>
       </div>
       
       <h2 class="answerot">Вопрос:</h2>
       <div class="vopros">
        <h4 class="nick">Nicnameigrok221</h4>
       <h2>Как найти корень из 50 в квадрате ?</h2>
       <h3>Чему равен корень из 50 при чём в описании задания указано что число будет в квадрате,20 часов сидел,не смог?</h3>
    </div>
    <h2 class="answerot"> Ответ:</h2>
    <div class="otvet">
        <h4 class="nick">Nicnameigrok221</h4>
        <h3>Для начала нам потребуеться открыть корень так же закрыть потом спросить потом так де сходить в парк и понаблюдать за птицами,причем это все в прямом эфире.</h3>
    </div>
    <h2 class="answerot"> Ответ</h2>
    <div class="otvet">
        <h4 class="nick">Nicnameigrok221</h4>
        <h3>Для начала нам потребуеться открыть корень так же закрыть потом спросить потом так де сходить в парк и понаблюдать за птицами,причем это все в прямом эфире.</h3>
    </div>
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 3, width: "250"}, 203253364);
    </script>
    <!-- VK Widget -->

    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>